argcomplete==2.1.2
asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
colorlog==6.10.1
commonmark==0.9.2
distlib==0.4.3
dj-database-url==3.1.2
Django==6.0.6
filelock==3.29.4
idna==3.18
nox==2022.11.21
packaging==26.2
platformdirs==4.10.0
Pygments==2.20.0
python-discovery==1.4.2
render-cli==0.2.1
requests==2.34.2
rich==12.6.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
virtualenv==21.5.1
dj-database-url
